@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,500;1,300&display=swap');

:root{
    -primary_color:red;
}
body{
font-family: 'Noto Sans', sans-serif;
background-color: #f7fee7;
}
hr{
    margin: 2rem 0rem;
}

/**Containers**/
.container{
    padding-left: 0rem 1rem;
}

.container-center{
   max-width: 600px;
   margin:auto;
}

/**Links**/
.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
}
.primary_link{
    text-decoration: none;
    background-color: #30D5C8 ;
    border-radius: 5rem;
}

.secondary_link{
    text-decoration: none;
    background-color: #30D5C8 ;
    border-radius: 5rem;
}


/**List**/

.List-nonbullet{
   list-style: none;
   
}

.List-inline{
    display: inline;
    list-style: none;
    padding: 0rem 0.5rem;
 }
 
 /**Nav Container**/

 .nav_container{
    background-color: #a5f3fc;
    color:#155e75;
    padding: 1rem;
    border-bottom-left-radius: 3rem;
 }

 .nav_list{
    text-align: right;
 }
 .nav_link{
    text-decoration: none;
    color: #155e75;
    font-weight: bold;
 }
.header{
    padding: 2rem;
}

.hero-image{
    max-width: 300px;
    display:block;
    margin:auto;
}

.header_inside{
   padding-top: 1rem;
   text-align: center;
   
}

 .header_inside .heading-inverted{
    color:#164e63;
}

.section_ow{
    background-color: #e7e5e4;
    padding: 1rem;
}

.section_white{
padding-top: 0.5rem;
padding-bottom: 2rem;
padding-left: 1rem;
}

 .h2{
    text-align: center;
}